* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  height: 5rem;
  min-width: 100%;
  background-color: #6200ed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 5vh;

  .navbar_brand {
    font-size: 2rem;
    font-weight: 700;
    color: #ebd5ff;
  }
}

