.container.dark-theme {

  background-color: #292C35;

  .navbar {
    background-color: #bb86fc;
  }
  .navbar_brand {
    color: #d8d8d8;
  }

  .o {
    border-color: #e2e2e2;
  }
  .x:before {
    background-color: #e2e2e2;
  }
  .square {
    border-color: #e2e2e2;
  }
}